# Переименуйте этот файл в .env и заполните переменные окружения

# Если используете пароль
REDIS_URL=redis://<username>:<password>@<host>:<port>/<database>

# Без пароля  (убедитесь, что пароль не установлен)
REDIS_URL=redis://127.0.0.1:6379/0